
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: Poppins;
}
nav{
    padding: 0 5%;
    background-color: #1C1E53;
    color: #fff;
    display: flex;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 90%;
    z-index: 99;
}

nav a .logo{
    font-weight: 800;
    font-size: 25px;
}

nav div{
    display: flex;
    align-items: center;
}

nav div ul{
    display: flex;
    justify-content: space-between;
    width: 460px;
    list-style: none;
    font-weight: 300;
    color: white;
} 

nav div a.button{
    margin-left: 80px;
    border: 1px solid white;
    height: 50px;
    width: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.active{
    font-weight: 700;
}